# 18.3 Relational Databases and Structured Query Language (SQL)
### Tables, Rows and Columns
### Selecting Data Subsets
### SQLite
## 18.3.1 A `books` Database
### Creating the `books` Database
### Connecting to the Database in Python

In [ ]:
import sqlite3

In [ ]:
connection = sqlite3.connect('books.db')

### `authors` Table
### Viewing the `authors` Table’s Contents

In [ ]:
import pandas as pd

In [ ]:
pd.options.display.max_columns = 10

In [ ]:
pd.read_sql('SELECT * FROM authors', connection,
            index_col=['id'])

### `titles` Table

In [ ]:
pd.read_sql('SELECT * FROM titles', connection)

### `author_ISBN` Table

In [ ]:
df = pd.read_sql('SELECT * FROM author_ISBN', connection)

In [ ]:
df.head()

### Entity-Relationship (ER) Diagram
### SQL Keywords
## 18.3.2 `SELECT` Queries

In [ ]:
pd.read_sql('SELECT first, last FROM authors', connection)

## 18.3.3 `WHERE` Clause

In [ ]:
pd.read_sql("""SELECT title, edition, copyright 
                FROM titles 
                WHERE copyright > '2016'""", connection)

### Pattern Matching: Zero or More Characters

In [ ]:
pd.read_sql("""SELECT id, first, last 
                FROM authors 
                WHERE last LIKE 'D%'""", 
             connection, index_col=['id'])

              

### Pattern Matching: Any Character

In [ ]:
pd.read_sql("""SELECT id, first, last 
                FROM authors 
                WHERE first LIKE '_b%'""", 
             connection, index_col=['id'])

              

## 18.3.4 `ORDER BY` Clause

In [ ]:
pd.read_sql('SELECT title FROM titles ORDER BY title ASC',
             connection)

### Sorting By Multiple Columns

In [ ]:
pd.read_sql("""SELECT id, first, last 
                FROM authors 
                ORDER BY last, first""", 
             connection, index_col=['id'])

In [ ]:
pd.read_sql("""SELECT id, first, last 
                FROM authors 
                ORDER BY last DESC, first ASC""", 
             connection, index_col=['id'])

              

### Combining the `WHERE` and `ORDER BY` Clauses

In [ ]:
pd.read_sql("""SELECT isbn, title, edition, copyright
                FROM titles
                WHERE title LIKE '%How to Program'
                ORDER BY title""", connection)

## 18.3.5 Merging Data from Multiple Tables: `INNER JOIN`

In [ ]:
pd.read_sql("""SELECT first, last, isbn
                FROM authors
                INNER JOIN author_ISBN
                    ON authors.id = author_ISBN.id
                ORDER BY last, first""", connection).head()

## 18.3.6 `INSERT INTO` Statement

In [ ]:
cursor = connection.cursor()

In [ ]:
cursor = cursor.execute("""INSERT INTO authors (first, last)
                            VALUES ('Sue', 'Red')""")

In [ ]:
pd.read_sql('SELECT id, first, last FROM authors', 
             connection, index_col=['id'])

### Note Regarding Strings That Contain Single Quotes
# 18.3.7 `UPDATE` Statement

In [ ]:
cursor = cursor.execute("""UPDATE authors SET last='Black'
                            WHERE last='Red' AND first='Sue'""")

In [ ]:
cursor.rowcount

In [ ]:
pd.read_sql('SELECT id, first, last FROM authors', 
             connection, index_col=['id'])

# 18.3.8 `DELETE FROM` Statement

In [ ]:
cursor = cursor.execute('DELETE FROM authors WHERE id=6')

In [ ]:
cursor.rowcount

In [ ]:
pd.read_sql('SELECT id, first, last FROM authors', 
             connection, index_col=['id'])

### Closing the Database

```
connection.close()
```

### SQL in Big Data

![Self Check Exercises check mark image](files/art/check.png)
# Self Check for Section 17.3
1. **_(IPython Session)_** Select from the `titles` table all the titles and their edition numbers in descending order by edition number. Show only the first three results.

In [ ]:
pd.read_sql("""SELECT title, edition FROM titles
               ORDER BY edition DESC""", connection).head(3)

2. **_(IPython Session)_** Select from the `authors` table all authors whose first names start with `'A'`.

In [ ]:
pd.read_sql("""SELECT * FROM authors
               WHERE first LIKE 'A%'""", connection)

3. **_(IPython Session)_** SQL’s `NOT` keyword reverses the value of a `WHERE` clause’s condition. Select from the `titles` table all titles that do not end with `'How to Program'`.

In [ ]:
pd.read_sql("""SELECT isbn, title, edition, copyright
                FROM titles
                WHERE title NOT LIKE '%How to Program'
                ORDER BY title""", connection)

In [ ]:
##########################################################################
# (C) Copyright 2019 by Deitel & Associates, Inc. and                    #
# Pearson Education, Inc. All Rights Reserved.                           #
#                                                                        #
# DISCLAIMER: The authors and publisher of this book have used their     #
# best efforts in preparing the book. These efforts include the          #
# development, research, and testing of the theories and programs        #
# to determine their effectiveness. The authors and publisher make       #
# no warranty of any kind, expressed or implied, with regard to these    #
# programs or to the documentation contained in these books. The authors #
# and publisher shall not be liable in any event for incidental or       #
# consequential damages in connection with, or arising out of, the       #
# furnishing, performance, or use of these programs.                     #
##########################################################################