## Spark with Docker 

> Run the follwoing Docker container 

```bash

docker run -p 8888:8888 -p 4040:4040 -it --user root -v c://Users/Ibrahim:/home/jovyan/work jupyter/pyspark-notebook start.sh jupyter lab

```

## Download dataset <flights.csv>

In [2]:
!wget https://bit.ly/3h7wwzu -O flights.csv -q
import pandas as pd 
DF=pd.read_csv('flights.csv')
DF.head(10)

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
0,2014,12,8,658.0,-7.0,935.0,-5.0,VX,N846VA,1780,SEA,LAX,132.0,954,6.0,58.0
1,2014,1,22,1040.0,5.0,1505.0,5.0,AS,N559AS,851,SEA,HNL,360.0,2677,10.0,40.0
2,2014,3,9,1443.0,-2.0,1652.0,2.0,VX,N847VA,755,SEA,SFO,111.0,679,14.0,43.0
3,2014,4,9,1705.0,45.0,1839.0,34.0,WN,N360SW,344,PDX,SJC,83.0,569,17.0,5.0
4,2014,3,9,754.0,-1.0,1015.0,1.0,AS,N612AS,522,SEA,BUR,127.0,937,7.0,54.0
5,2014,1,15,1037.0,7.0,1352.0,2.0,WN,N646SW,48,PDX,DEN,121.0,991,10.0,37.0
6,2014,7,2,847.0,42.0,1041.0,51.0,WN,N422WN,1520,PDX,OAK,90.0,543,8.0,47.0
7,2014,5,12,1655.0,-5.0,1842.0,-18.0,VX,N361VA,755,SEA,SFO,98.0,679,16.0,55.0
8,2014,4,19,1236.0,-4.0,1508.0,-7.0,AS,N309AS,490,SEA,SAN,135.0,1050,12.0,36.0
9,2014,11,19,1812.0,-3.0,2352.0,-4.0,AS,N564AS,26,SEA,ORD,198.0,1721,18.0,12.0

In [3]:
!head -n 10 flights.csv

year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
2014,12,8,658.0,-7.0,935.0,-5.0,VX,N846VA,1780,SEA,LAX,132.0,954,6.0,58.0
2014,1,22,1040.0,5.0,1505.0,5.0,AS,N559AS,851,SEA,HNL,360.0,2677,10.0,40.0
2014,3,9,1443.0,-2.0,1652.0,2.0,VX,N847VA,755,SEA,SFO,111.0,679,14.0,43.0
2014,4,9,1705.0,45.0,1839.0,34.0,WN,N360SW,344,PDX,SJC,83.0,569,17.0,5.0
2014,3,9,754.0,-1.0,1015.0,1.0,AS,N612AS,522,SEA,BUR,127.0,937,7.0,54.0
2014,1,15,1037.0,7.0,1352.0,2.0,WN,N646SW,48,PDX,DEN,121.0,991,10.0,37.0
2014,7,2,847.0,42.0,1041.0,51.0,WN,N422WN,1520,PDX,OAK,90.0,543,8.0,47.0
2014,5,12,1655.0,-5.0,1842.0,-18.0,VX,N361VA,755,SEA,SFO,98.0,679,16.0,55.0
2014,4,19,1236.0,-4.0,1508.0,-7.0,AS,N309AS,490,SEA,SAN,135.0,1050,12.0,36.0

## Download dataset <airports.csv>

In [4]:
!wget https://bit.ly/33o0x6b -O airports.csv -q 

DF2=pd.read_csv('airports.csv')
DF2.head(10)

   faa                            name        lat         lon   alt  tz dst
0  04G               Lansdowne Airport  41.130472  -80.619583  1044  -5   A
1  06A   Moton Field Municipal Airport  32.460572  -85.680028   264  -5   A
2  06C             Schaumburg Regional  41.989341  -88.101243   801  -6   A
3  06N                 Randall Airport  41.431912  -74.391561   523  -5   A
4  09J           Jekyll Island Airport  31.074472  -81.427778    11  -4   A
5  0A9  Elizabethton Municipal Airport  36.371222  -82.173417  1593  -4   A
6  0G6         Williams County Airport  41.467306  -84.506778   730  -5   A
7  0G7   Finger Lakes Regional Airport  42.883565  -76.781232   492  -5   A
8  0P2    Shoestring Aviation Airfield  39.794824  -76.647191  1000  -5   U
9  0S9           Jefferson County Intl  48.053809 -122.810644   108  -8   A

In [5]:
!head -n 10 airports.csv

faa,name,lat,lon,alt,tz,dst
04G,Lansdowne Airport,41.1304722,-80.6195833,1044,-5,A
06A,Moton Field Municipal Airport,32.4605722,-85.6800278,264,-5,A
06C,Schaumburg Regional,41.9893408,-88.1012428,801,-6,A
06N,Randall Airport,41.431912,-74.3915611,523,-5,A
09J,Jekyll Island Airport,31.0744722,-81.4277778,11,-4,A
0A9,Elizabethton Municipal Airport,36.3712222,-82.1734167,1593,-4,A
0G6,Williams County Airport,41.4673056,-84.5067778,730,-5,A
0G7,Finger Lakes Regional Airport,42.8835647,-76.7812318,492,-5,A
0P2,Shoestring Aviation Airfield,39.7948244,-76.6471914,1000,-5,U

### Download dataset <planes.csv>

In [6]:
!wget https://bit.ly/3fisVfB -O planes.csv -q
import pandas as pd 
DF3=pd.read_csv('planes.csv')
DF3.head(10)

,tailnum,year,type,manufacturer,model,engines,seats,speed,engine
0,N102UW,1998.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
1,N103US,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
2,N104UW,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
3,N105UW,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
4,N107US,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
5,N108UW,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
6,N109UW,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
7,N110UW,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
8,N111US,1999.0,Fixed wing multi engine,AIRBUS INDUSTRIE,A320-214,2,182,NaN,Turbo-fan
9,N11206,2000.0,Fixed wing multi engine,BOEING,737-824,2,149,NaN,Turbo-fan

## Read spark DataFrames  
- flights, 
- airports, 
- planes

In [8]:
from pyspark.sql import SparkSession

# Create SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

# Read flights.csv as spark dataframe 
flights=spark.read.csv('flights.csv',header=True, inferSchema=True)

# Read airports.csv as spark dataframe 
airports=spark.read.csv('airports.csv',header=True, inferSchema=True)

# Read planes.csv as spark dataframe 
planes=spark.read.csv('planes.csv',header=True, inferSchema=True)

## Use show, describe, summary!

In [19]:
flights.show(3,truncate=False)

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
|2014|12   |8  |658.0   |-7.0     |935.0   |-5.0     |VX     |N846VA |1780  |SEA   |LAX |132.0   |954     |6.0 |58.0  |
|2014|1    |22 |1040.0  |5.0      |1505.0  |5.0      |AS     |N559AS |851   |SEA   |HNL |360.0   |2677    |10.0|40.0  |
|2014|3    |9  |1443.0  |-2.0     |1652.0  |2.0      |VX     |N847VA |755   |SEA   |SFO |111.0   |679     |14.0|43.0  |
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
only showing top 3 rows

In [26]:
flights.describe()

DataFrame[summary: string, year: string, month: string, day: string, dep_time: string, dep_delay: string, arr_time: string, arr_delay: string, carrier: string, tailnum: string, flight: string, origin: string, dest: string, air_time: string, distance: string, hour: string, minute: string]

### Summary

In [24]:
flights.summary("count", "min", "25%", "75%", "max").show()

+-------+-----+-----+-----+--------+---------+--------+---------+-------+-------+------+------+-----+--------+--------+----+------+
|summary| year|month|  day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin| dest|air_time|distance|hour|minute|
+-------+-----+-----+-----+--------+---------+--------+---------+-------+-------+------+------+-----+--------+--------+----+------+
|  count|10000|10000|10000|    9952|     9952|    9945|     9925|  10000|   9986| 10000| 10000|10000|    9925|   10000|9952|  9952|
|    min| 2014|    1|    1|     1.0|    -19.0|     1.0|    -58.0|     AA| D942DN|     2|   PDX|  ABQ|    20.0|      93| 0.0|   0.0|
|    25%| 2014|    4|    8|   831.0|     -5.0|  1122.0|    -12.0|   null|   null|   407|  null| null|   102.0|     689| 8.0|  15.0|
|    75%| 2014|    9|   23|  1720.0|      5.0|  1916.0|      7.0|   null|   null|  1760|  null| null|   200.0|    1660|17.0|  47.0|
|    max| 2014|   12|   31|  2400.0|    886.0|  2400.0|    900.0|     WN| N988CA|  6527|   SEA|  TUS|   409.0|    2724|24.0|  59.0|
+-------+-----+-----+-----+--------+---------+--------+---------+-------+-------+------+------+-----+--------+--------+----+------+

In [28]:
flights.select('year','distance','air_time').summary("count", "min", "25%", "75%", "max").show()

+-------+-----+--------+--------+
|summary| year|distance|air_time|
+-------+-----+--------+--------+
|  count|10000|   10000|    9925|
|    min| 2014|      93|    20.0|
|    25%| 2014|     689|   102.0|
|    75%| 2014|    1660|   200.0|
|    max| 2014|    2724|   409.0|
+-------+-----+--------+--------+

In [29]:
planes.summary("count", "min", "25%", "75%", "max").show()

+-------+-------+------+--------------------+------------+-------------+-------+-----+-----+-----------+
|summary|tailnum|  year|                type|manufacturer|        model|engines|seats|speed|     engine|
+-------+-------+------+--------------------+------------+-------------+-------+-----+-----+-----------+
|  count|   2628|  2628|                2628|        2628|         2628|   2628| 2628| 2628|       2628|
|    min| N102UW|     0|Fixed wing multi ...|      AIRBUS|          150|      1|    2|  107|    4 Cycle|
|    25%|   null|1998.0|                null|        null|        150.0|      2|  140| 90.0|       null|
|    75%|   null|2007.0|                null|        null|        150.0|      2|  191|112.0|       null|
|    max| N988CA|    NA|          Rotorcraft|    SIKORSKY|ZODIAC 601HDS|      4|  450|   NA|Turbo-shaft|
+-------+-------+------+--------------------+------------+-------------+-------+-----+-----+-----------+

In [31]:
planes.select('year','seats','speed').summary("count", "min", "25%", "75%", "max").show()

+-------+------+-----+-----+
|summary|  year|seats|speed|
+-------+------+-----+-----+
|  count|  2628| 2628| 2628|
|    min|     0|    2|  107|
|    25%|1998.0|  140| 90.0|
|    75%|2007.0|  191|112.0|
|    max|    NA|  450|   NA|
+-------+------+-----+-----+

### Using filter

In [32]:
flights.filter('origin="SEA"').show(10)

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
|2014|   12|  8|   658.0|     -7.0|   935.0|     -5.0|     VX| N846VA|  1780|   SEA| LAX|   132.0|     954| 6.0|  58.0|
|2014|    1| 22|  1040.0|      5.0|  1505.0|      5.0|     AS| N559AS|   851|   SEA| HNL|   360.0|    2677|10.0|  40.0|
|2014|    3|  9|  1443.0|     -2.0|  1652.0|      2.0|     VX| N847VA|   755|   SEA| SFO|   111.0|     679|14.0|  43.0|
|2014|    3|  9|   754.0|     -1.0|  1015.0|      1.0|     AS| N612AS|   522|   SEA| BUR|   127.0|     937| 7.0|  54.0|
|2014|    5| 12|  1655.0|     -5.0|  1842.0|    -18.0|     VX| N361VA|   755|   SEA| SFO|    98.0|     679|16.0|  55.0|
|2014|    4| 19|  1236.0|     -4.0|  1508.0|     -7.0|     AS| N309AS|   490|   SEA| SAN|   135.0|    1050|12.0|  36.0|
|2014|   11| 19|  1812.0|     -3.0|  2352.0|     -4.0|     AS| N564AS|    26|   SEA| ORD|   198.0|    1721|18.0|  12.0|
|2014|   11|  8|  1653.0|     -2.0|  1924.0|     -1.0|     AS| N323AS|   448|   SEA| LAX|   130.0|     954|16.0|  53.0|
|2014|    8|  3|  1120.0|      0.0|  1415.0|      2.0|     AS| N305AS|   656|   SEA| PHX|   154.0|    1107|11.0|  20.0|
|2014|   10| 30|   811.0|     21.0|  1038.0|     29.0|     AS| N433AS|   608|   SEA| LAS|   127.0|     867| 8.0|  11.0|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
only showing top 10 rows

In [33]:
flights.filter(flights.origin=="SEA").show(10)

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
|2014|   12|  8|   658.0|     -7.0|   935.0|     -5.0|     VX| N846VA|  1780|   SEA| LAX|   132.0|     954| 6.0|  58.0|
|2014|    1| 22|  1040.0|      5.0|  1505.0|      5.0|     AS| N559AS|   851|   SEA| HNL|   360.0|    2677|10.0|  40.0|
|2014|    3|  9|  1443.0|     -2.0|  1652.0|      2.0|     VX| N847VA|   755|   SEA| SFO|   111.0|     679|14.0|  43.0|
|2014|    3|  9|   754.0|     -1.0|  1015.0|      1.0|     AS| N612AS|   522|   SEA| BUR|   127.0|     937| 7.0|  54.0|
|2014|    5| 12|  1655.0|     -5.0|  1842.0|    -18.0|     VX| N361VA|   755|   SEA| SFO|    98.0|     679|16.0|  55.0|
|2014|    4| 19|  1236.0|     -4.0|  1508.0|     -7.0|     AS| N309AS|   490|   SEA| SAN|   135.0|    1050|12.0|  36.0|
|2014|   11| 19|  1812.0|     -3.0|  2352.0|     -4.0|     AS| N564AS|    26|   SEA| ORD|   198.0|    1721|18.0|  12.0|
|2014|   11|  8|  1653.0|     -2.0|  1924.0|     -1.0|     AS| N323AS|   448|   SEA| LAX|   130.0|     954|16.0|  53.0|
|2014|    8|  3|  1120.0|      0.0|  1415.0|      2.0|     AS| N305AS|   656|   SEA| PHX|   154.0|    1107|11.0|  20.0|
|2014|   10| 30|   811.0|     21.0|  1038.0|     29.0|     AS| N433AS|   608|   SEA| LAS|   127.0|     867| 8.0|  11.0|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
only showing top 10 rows

In [34]:
flights.filter('air_time >130').show(10)

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
|2014|   12|  8|   658.0|     -7.0|   935.0|     -5.0|     VX| N846VA|  1780|   SEA| LAX|   132.0|     954| 6.0|  58.0|
|2014|    1| 22|  1040.0|      5.0|  1505.0|      5.0|     AS| N559AS|   851|   SEA| HNL|   360.0|    2677|10.0|  40.0|
|2014|    4| 19|  1236.0|     -4.0|  1508.0|     -7.0|     AS| N309AS|   490|   SEA| SAN|   135.0|    1050|12.0|  36.0|
|2014|   11| 19|  1812.0|     -3.0|  2352.0|     -4.0|     AS| N564AS|    26|   SEA| ORD|   198.0|    1721|18.0|  12.0|
|2014|    8|  3|  1120.0|      0.0|  1415.0|      2.0|     AS| N305AS|   656|   SEA| PHX|   154.0|    1107|11.0|  20.0|
|2014|   11| 12|  2346.0|     -4.0|   217.0|    -28.0|     AS| N765AS|   121|   SEA| ANC|   183.0|    1448|23.0|  46.0|
|2014|    8| 11|  1017.0|     -3.0|  1613.0|     -7.0|     WN| N8634A|   827|   SEA| MDW|   216.0|    1733|10.0|  17.0|
|2014|    1| 13|  2156.0|     -9.0|   607.0|    -15.0|     AS| N597AS|    24|   SEA| BOS|   290.0|    2496|21.0|  56.0|
|2014|    9| 26|   610.0|     -5.0|  1523.0|     65.0|     US| N127UW|   616|   SEA| PHL|   293.0|    2378| 6.0|  10.0|
|2014|   12|  4|   954.0|     -6.0|  1348.0|    -17.0|     HA| N395HA|    29|   SEA| OGG|   333.0|    2640| 9.0|  54.0|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
only showing top 10 rows

In [36]:
flights.filter(flights.air_time >130).show(10)

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
|2014|   12|  8|   658.0|     -7.0|   935.0|     -5.0|     VX| N846VA|  1780|   SEA| LAX|   132.0|     954| 6.0|  58.0|
|2014|    1| 22|  1040.0|      5.0|  1505.0|      5.0|     AS| N559AS|   851|   SEA| HNL|   360.0|    2677|10.0|  40.0|
|2014|    4| 19|  1236.0|     -4.0|  1508.0|     -7.0|     AS| N309AS|   490|   SEA| SAN|   135.0|    1050|12.0|  36.0|
|2014|   11| 19|  1812.0|     -3.0|  2352.0|     -4.0|     AS| N564AS|    26|   SEA| ORD|   198.0|    1721|18.0|  12.0|
|2014|    8|  3|  1120.0|      0.0|  1415.0|      2.0|     AS| N305AS|   656|   SEA| PHX|   154.0|    1107|11.0|  20.0|
|2014|   11| 12|  2346.0|     -4.0|   217.0|    -28.0|     AS| N765AS|   121|   SEA| ANC|   183.0|    1448|23.0|  46.0|
|2014|    8| 11|  1017.0|     -3.0|  1613.0|     -7.0|     WN| N8634A|   827|   SEA| MDW|   216.0|    1733|10.0|  17.0|
|2014|    1| 13|  2156.0|     -9.0|   607.0|    -15.0|     AS| N597AS|    24|   SEA| BOS|   290.0|    2496|21.0|  56.0|
|2014|    9| 26|   610.0|     -5.0|  1523.0|     65.0|     US| N127UW|   616|   SEA| PHL|   293.0|    2378| 6.0|  10.0|
|2014|   12|  4|   954.0|     -6.0|  1348.0|    -17.0|     HA| N395HA|    29|   SEA| OGG|   333.0|    2640| 9.0|  54.0|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
only showing top 10 rows

## Questions

### How many trips has distance greater than 1000

In [39]:
flights.filter(flights.distance >1000).count()

4883

### How many trips has air_time greater than 100 and less than 300

In [42]:
cond= (flights.air_time >100) & (flights.air_time <300)

flights.filter(cond).count()

7171

In [43]:
flights.filter(cond).show()

+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
|year|month|day|dep_time|dep_delay|arr_time|arr_delay|carrier|tailnum|flight|origin|dest|air_time|distance|hour|minute|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
|2014|   12|  8|   658.0|     -7.0|   935.0|     -5.0|     VX| N846VA|  1780|   SEA| LAX|   132.0|     954| 6.0|  58.0|
|2014|    3|  9|  1443.0|     -2.0|  1652.0|      2.0|     VX| N847VA|   755|   SEA| SFO|   111.0|     679|14.0|  43.0|
|2014|    3|  9|   754.0|     -1.0|  1015.0|      1.0|     AS| N612AS|   522|   SEA| BUR|   127.0|     937| 7.0|  54.0|
|2014|    1| 15|  1037.0|      7.0|  1352.0|      2.0|     WN| N646SW|    48|   PDX| DEN|   121.0|     991|10.0|  37.0|
|2014|    4| 19|  1236.0|     -4.0|  1508.0|     -7.0|     AS| N309AS|   490|   SEA| SAN|   135.0|    1050|12.0|  36.0|
|2014|   11| 19|  1812.0|     -3.0|  2352.0|     -4.0|     AS| N564AS|    26|   SEA| ORD|   198.0|    1721|18.0|  12.0|
|2014|   11|  8|  1653.0|     -2.0|  1924.0|     -1.0|     AS| N323AS|   448|   SEA| LAX|   130.0|     954|16.0|  53.0|
|2014|    8|  3|  1120.0|      0.0|  1415.0|      2.0|     AS| N305AS|   656|   SEA| PHX|   154.0|    1107|11.0|  20.0|
|2014|   10| 30|   811.0|     21.0|  1038.0|     29.0|     AS| N433AS|   608|   SEA| LAS|   127.0|     867| 8.0|  11.0|
|2014|   11| 12|  2346.0|     -4.0|   217.0|    -28.0|     AS| N765AS|   121|   SEA| ANC|   183.0|    1448|23.0|  46.0|
|2014|   10| 31|  1314.0|     89.0|  1544.0|    111.0|     AS| N713AS|   306|   SEA| SFO|   129.0|     679|13.0|  14.0|
|2014|    8| 11|  1017.0|     -3.0|  1613.0|     -7.0|     WN| N8634A|   827|   SEA| MDW|   216.0|    1733|10.0|  17.0|
|2014|    1| 13|  2156.0|     -9.0|   607.0|    -15.0|     AS| N597AS|    24|   SEA| BOS|   290.0|    2496|21.0|  56.0|
|2014|    6|  5|  1733.0|    -12.0|  1945.0|    -10.0|     OO| N215AG|  3488|   PDX| BUR|   111.0|     817|17.0|  33.0|
|2014|    7| 27|  2105.0|     15.0|  2316.0|     21.0|     AS| N519AS|   300|   SEA| SFO|   106.0|     679|21.0|   5.0|
|2014|    9| 26|   610.0|     -5.0|  1523.0|     65.0|     US| N127UW|   616|   SEA| PHL|   293.0|    2378| 6.0|  10.0|
|2014|    8| 19|  1845.0|     -5.0|  2112.0|    -22.0|     DL| N354NW|  2642|   SEA| LAX|   119.0|     954|18.0|  45.0|
|2014|   10| 29|   643.0|      3.0|   851.0|      2.0|     OO| N218AG|  3456|   PDX| BUR|   108.0|     817| 6.0|  43.0|
|2014|   12| 30|  1305.0|     70.0|  1525.0|     86.0|     AS| N520AS|   306|   SEA| SFO|   117.0|     679|13.0|   5.0|
|2014|    2| 25|   555.0|     -5.0|   819.0|     -3.0|     AS| N549AS|   604|   SEA| LAS|   121.0|     867| 5.0|  55.0|
+----+-----+---+--------+---------+--------+---------+-------+-------+------+------+----+--------+--------+----+------+
only showing top 20 rows

In [45]:
flights.filter(cond).select('air_time').summary('max','min').show()

+-------+--------+
|summary|air_time|
+-------+--------+
|    max|   299.0|
|    min|   101.0|
+-------+--------+